body {
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: rgba(11, 1, 11, 0.922);
    font-weight: 300;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;    
}


        /*hearder*/
header {
    width: 100%;
    height: 4rem;   
    border-bottom:1px solid rgba(245, 245, 245, 0.349);
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;   

}
header nav ul li {
    padding: 20px;    
}  

a.nav-link {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
    border: 1px solid rgba(218, 165, 32, 0); 
    
}
a.nav-link:hover {
    color: gold;
    background-color: initial;
    border: 1px solid goldenrod; 
    border-radius: 5px;
}


        /*main content*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    gap: 5rem;
}

h3 {
    color: goldenrod;
    width: 60%;
    border-bottom:1px solid rgba(245, 245, 245, 0.349);
    font-size: 30px;
}



/* (about-me) */ 
p {
    text-align: justify;
    line-height: 1.5rem;
}
a.reach-out {
    text-decoration: none;
    color: skyblue;
}


/* (skills) */
.skills-display{
    display: flex;
    gap: 2.5em;  
}
.language {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 100px;
    border: purple;
    border-radius: 10px;
    background-color: rgba(20, 1, 20, 0.692);
    padding: 10px;
    margin: 10px;
}
progress[value] {
    color: gold;
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 10px; 
    background-color: gold;
  }
progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 2px;
}
progress::-webkit-progress-value {
    background-color: gold;
  }

  
span {
    position: absolute;
    right: 10%;
    top: 21%;
} 

.quan {
    opacity: 5%;
    text-align: center;
}
.qlity {
    padding: 1em;
    margin: 1em;
    background-color: rgba(20, 1, 20, 0.144);
    border-radius: 15px;
 }
 

/* (resume) */ 
.resume {
    margin-bottom: 50px; 
}
.cv {
   text-decoration: none;
    padding: 15px;
    background-color: rgba(245, 245, 245, 0.836);
    border-radius: 10px;
}




                    /* breakpoint */

@media screen and (max-width: 767px) {
    body {
        width: 100%;
    }

    header {
        color: #00ffff;
        width: 100%;
    }
    nav {
        width: 600px;  
    }
   

    main {
        margin: 1.5rem;
    }

    h1,
    h2 {
        text-align: center;
    }

    .skills-display {
        gap: 1em;
    }
    .language {
        width: 290px;
        margin: 5px;
    }
    progress[value] {
        width: 280px;
    }
    .qlity {
        margin: 5px;
    }
}




@media screen and (min-width: 320px) and (max-width: 475px) {
    body {
        width: 100%;
        font-size: 19px;
    }
    main {
        margin: 1em;
        gap: 2rem;
    }
    h1,
    h2 {
        text-align: center;
    }
    /* .skills {
        display: block;
    } */
    .skills-display {
        display: block;
        margin: auto;
    }

}
