body {
    color: red;
    padding: 0;
    margin: 0;
    background-color: rgba(11, 1, 11, 0.922);
    font-family: 'Inconsolata', monospace;
    
}


        /*hearder*/
header {
    width: 100%;
    height: 4rem;   
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;   
}
header nav ul li {
    padding: 20px;    
}  

a {
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
a:hover {
    color: gold;
    background-color: initial;
    border: 1px solid goldenrod;
    border-radius: 5px;
}


        /*main content*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0.5rem;
    margin: 50px;
}

p {
    text-align: justify;
    line-height: 1rem;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 30px;
    gap: 50px;  
}

.language {
    position: relative;
    width: 300px;
    height: 100px;
    border: purple;
    border-radius: 10px;
    background-color: rgba(20, 1, 20, 0.692);
    padding: 10px;
}
progress[value] {
    color: gold;
    -webkit-appearance: none;
    appearance: none;
    width: 300px;
    height: 10px; 
    background-color: gold;
  }
progress[value]::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 2px;
}
progress::-webkit-progress-value {
    background-color: gold;
  }

  
span {
    position: absolute;
    right: 10%;
    top: 21%;
} 



