
body {
    padding: 0;
    margin: 0;
    width: 100%;
    /* height: 100%;  */
    background-color: rgba(11, 1, 11, 0.922);
    font-family: 'Inconsolata', monospace;
}


/*header */
header {
    width: 100%;
    height: 4rem;   
    border-bottom: 1px solid rgb(54, 54, 54);
    padding: 20px;
}
   /*(hidden menu)*/
header .media-menu {
    /* display: none; */
}
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;   
    
}
header a {
    padding: 10px;    
    border: 1px solid rgba(255, 0, 0, 0); 

}  
header nav ul li a:hover {
    color: gold;
    background-color: initial;
    border: 1px solid goldenrod;  
    border-radius: 5px;
    padding: 10px; 
}


h1,
h3 {
    color: aliceblue;
    text-align: center;
}

a {
    text-decoration: none;
    color: aliceblue;
 }

 
    /* section */
section {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 20px;
}


.contact-address {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: rgba(11, 1, 11, 0.411);
    border-right: 1px solid rgba(128, 128, 128, 0.514);
    
}
.number-email {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
.number-email a {
    padding: 10px;
    margin: 10px;
    border: 1px solid rgba(218, 165, 32, 0);

}
.number-email a:hover {
    color: goldenrod;
    background-color: initial;
    border: 1px solid goldenrod;
    border-radius: 5px;
}
.social-handles  {
    color: #ffffff2e;
    position: absolute;
    text-align: center;
    bottom: 5%;
    left: 40%; 
} 
.social-handles a {
    color: goldenrod;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid rgba(218, 165, 32, 0);

}
.social-handles a:hover {
    border: 1px solid goldenrod;
}


/* form */
.message-form {
    width: 700px;
    height: 400px;
    background-color: #201f1f86; 
    border-top: 1px solid rgba(128, 128, 128, 0.514);
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    color: whitesmoke;
    width: 500px;
    height: 30px;  
    background-color: rgba(128, 128, 128, 0.559);
} 
textarea {
    color: whitesmoke;
    width: 500px;
    height: 200px;
    background-color: rgba(128, 128, 128, 0.559);
} 
#submit {
    width: 200px;
    right: 55%;
    bottom: 0;
    margin-top: 10px;
    margin-left: 25%;
    border: 1px solid rgba(218, 165, 32, 0);

    
}
#submit:hover {
    color: goldenrod;
    background-color: initial;
    border: 1px solid goldenrod;
    border-radius: 5px;
}


/* icons */
.fa-solid {
    font-size: 20px;
} 

 span {
    background-color: #000000c5;
    padding: 5px;
    border-radius: 10px;
 }



                /* breakponits */








 @media screen and (max-width: 885) {
    body {
        width: 100%;
    }

    header {
        margin-bottom: 2rem;
    }

    section {
       flex-direction: column;  
       justify-content: center;
       align-items: center; 
       margin-top: 5rem;
       gap: 2rem;    
    }
    .contact-address, 
    .message-form {
        display: flex;
        justify-content: center;
        width: 45em;    
    }
    form {
        width: 40em;
        padding: 0.7em;
    }
    input, 
    textarea {
        width: inherit; 
    }
    #submit {
        width: inherit;
        margin: auto;
        font-size: 25px;
    }

    .fa-solid {
        font-size: 2.5em;
        margin: 20px;
    }
    span {
        margin: 20px;
        font-size: 2em;
    }  
}




@media screen and (max-width: 767px) {
    body {
        width: 100%;
        color: aqua;
        overflow-x: hidden;
    }

    header {
        width: 100%;
       
    }
    nav {
        display: flex;
        justify-content: space-evenly; 
        /* align-items: center;  */
        width: 600px;
       
    }
     nav ul {
        width: inherit;
        justify-content: center;
        align-items: center; 
    }
    li a {
        color: #00ffff;
        margin: 0;
        font-weight: 400;
        font-size: 20px;
    }

    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        gap: 50px;  
    }
    section .contact-address,
    section .message-form {
        display: flex;
        justify-content: center;
        width: 600px;
        margin: auto;
        border-radius: 5px;
    }
    .number-email {
        /* justify-content: center; */
        align-items: center; 
        margin-top: 20px;
        font-size: 30px;
    }
    .fa-phone,
    .fa-envelope {
        font-size: 30px;  
    }

    form {
        width: inherit;
        justify-content: center;
        align-items: center;
    }
    input, 
    textarea, 
    #submit {
        width: 500px;
        margin: auto; 
    }
}




@media screen and (min-width: 320px) and (max-width: 475px ) {
    body {
        width: 100%;
    }
    header {

        width: 100%;
        margin-bottom: 2em;
       
    }
    header nav {
        width: 300px;
    }
    header a {
        font-weight: bold;
        font-size: 14px;
    }

    main {
        width: 320px;
    }
   
   
    section  .contact-address,
    section .message-form {
        width: 320px;
    } 
   
    .number-email a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
    .number-email a .fa-solid {
        font-size: 30px;
    }
    .number-email a span {
        font-weight: bold; 
        font-size: 22px;

    }

    form {
        width: 300px;  
    }
    input, 
    textarea, 
    #submit {
        width: 300px;
        margin: auto; 
    }
}